#user-ranking {
  font-size: 30px;
  font-weight: 600;
}

#leaderboard-container {
  opacity: 0;
  animation: fade-in forwards 0.8s linear;
}

#leaderboard {
  border: solid 1px gray;
  border-radius: 10px;
  box-shadow: var(--default-shadow), white 0 0 0 10px;
  margin-bottom: 30px;
}

#leaderboard-header {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 5px 0;
}

.leaderboard-listing {
  display: grid;
  align-items: center;
  grid-template-columns: 2.5fr 10fr 4fr;
  border-bottom: solid 1px gray;
}

.leaderboard-listing:last-child {
  border-bottom: none;
}

.leaderboard-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(70, 70, 70);
  background-color: rgb(228, 228, 228);
  box-shadow: rgb(228, 228, 228) 0 1px 0 2px, gray 2px 0 0 1px;
  z-index: -1;
}

.leaderboard-listing:first-child .leaderboard-number {
  background-color: rgb(75, 155, 95);
  color: white;
  box-shadow: rgb(75, 155, 95) 0 1px 0 2px, gray 2px 0 0 1px;
}

.leaderboard-listing:nth-child(2) .leaderboard-number {
  background-color: rgb(151, 206, 164);
  color: rgb(38, 49, 41);
  box-shadow: rgb(151, 206, 164) 0 1px 0 2px, gray 2px 0 0 1px;
}

.leaderboard-listing:nth-child(3) .leaderboard-number {
  background-color: rgb(189, 218, 195);
  color: rgb(50, 54, 51);
  box-shadow: rgb(187, 211, 192) 0 1px 0 2px, gray 2px 0 0 1px;
}

.leaderboard-name {
  padding: 5px 10px;
  width: 150px; 
  overflow: hidden;
}

.leaderboard-score {
  text-align: right;
  padding-right: 10px;
  font-weight: 600;
  color: rgb(97, 97, 97);
}

.user-leaderboard-listing .leaderboard-name {
  font-weight: bold;
  font-style: italic;
}

#new-best-text {
  margin-top: -15px;
  margin-bottom: 20px;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
  color: rgb(27, 99, 17);
  text-align: center;
  width: 200px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(190, 190, 190);
}