#answer-selector {
  --border-color: rgb(173, 173, 173);
  visibility: hidden;
  position: fixed;
  background-color: white;
  border: solid 1px var(--border-color);
  border-radius: 3px;
  padding: 0px;
  margin: -5px 0 0 -5px;
  box-shadow: rgba(0,0,0,0.06) 0px 1px 5px 3px;
}

.answer-button {
  display: block;
  width: 100%;
  padding: 3px 10px;
  font-family: inherit;
  font-size: 14px;
  border-radius: 0;
  border: none;
  border-bottom: solid 1px var(--border-color);
  background-color: white;
  user-select: none;
}

.answer-button:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.answer-button:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: none;
}

.answer-button:hover {
  background-color: rgb(176, 223, 241);
}