#answer-selector {
  --border-color: rgb(173, 173, 173);
  visibility: hidden;
  position: fixed;
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: -5px 0 0 -5px;
}

#answer-selector-prompt-text {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.answer-button {
  display: block;
  width: 100%;
  padding: 3px 10px;
  margin: 5px 0;
  font-family: inherit;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  border-bottom: solid 1px var(--border-color);
  box-shadow: var(--default-shadow);
  background-color: white;
  user-select: none;
}

.answer-button:hover {
  background-color: rgb(176, 223, 241);
}

.answer-button:focus {
  outline: none;
}