#game-info {
  display: flex;
  justify-content: center;
}

#answer-options-list {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#answer-options-list > * {
  margin: 10px 10px;
}