#map-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-map {
  width: 100vh;
  max-width: 95%;
  border: solid 1px rgb(160, 160, 160);
  border-radius: 10px;
  cursor: move;
}

.geography {
  stroke: rgb(145, 145, 145);
  stroke-width: 0.5px;
  outline: none;
  cursor: default;
}

.country-answer-option:hover {
  fill: skyblue;
}