#map-container {
  --country-active-color: rgb(252, 196, 93);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-map {
  width: 100vh;
  max-width: 95%;
  border: solid 1px rgb(160, 160, 160);
  border-radius: 10px;
  box-shadow: var(--default-shadow);
  cursor: move;
}

.geography {
  stroke: rgb(145, 145, 145);
  stroke-width: 0.5px;
  outline: none;
  cursor: default;
}

.country-answer-option:hover {
  fill: var(--country-active-color);
  cursor: pointer;
}

.country-answered:hover {
  fill: rgb(160, 217, 240);
  cursor: pointer;
}

.country-completed {
  fill: rgb(190, 222, 190);
}

.country-completed:hover {
  fill: rgb(122, 196, 122);
}

.country-active {
  fill: var(--country-active-color);
}