:root {
  --default-shadow: rgba(0,0,0,0.06) 0px 1px 5px 3px;
}

#main-header {
  display: flex;
  justify-content: center;
  margin: 12px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}

@media only screen and (max-width: 290px) {
  #main-header {
    font-size: 22px;
  }
}

.title-a {
  color: rgb(48, 187, 241);
}

.title-b {
  color: rgb(36, 137, 177);
}

.title-c {
  color: rgb(21, 89, 116);
}

.title-d {
  color: rgb(11, 44, 58);
}

.start-game-button {
  border: none;
  outline: none;
  background-color: rgb(30, 173, 85);
  color: white;
  font-family: inherit;
  font-size: 16px;
  border-radius: 6px;
  padding: 8px 14px;
  box-shadow: var(--default-shadow);
}

.start-game-button:hover {
  background-color: rgb(14, 143, 63);
}